<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% block links %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{% url 'main' %}">Головна</a>
        <a href="{% url 'education' %}">Освіта</a>
        <a href="{% url 'achievements' %}">Досягнення</a>
        <a href="{% url 'hobby' %}">Хоббі</a>
        <a href="{% url 'leisure' %}">Дозвілля</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h1 id = "footerh1">If you have any questions consider writing <a id = "contact-link" href="https://t.me/shooteett">here </a></h1>
    </footer>
</body>
</html>